<!DOCTYPE html>

{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static "bootstrap.min.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div class="container">
        <div class="text-center my-4">
            <h1 class="fw-bold">🎬 Películas favoritas</h1>
            <hr class="custom-line">
        </div>
        {% block content %}{% endblock  %}
</body>

</html>